* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #333;
    background-color: #f4f4f4;

}

.navegacao {
    background: rgb(75, 75, 255);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 1.2rem 2rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 150px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-link {
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: relative;
    padding: 0.5rem 0;
    transition: 0.3s;
}

.menu-link:hover {
    color: #011650;
    height: 20px;
    text-decoration: underline;
}

.content {
    position: sticky;
    display: flex;
}

.hero {
    width: 100%;
    height: 300px;
    color: rgb(39, 39, 39);
    text-align: center;
    padding-top: 150px;
    margin-top: 90px;
}

.hero h1 {
    font-size: 42px;
    font-weight: bold;
}

.hero h2 {
    font-size: 24px;
    margin-top: 10px;
}

/* ===== CARDS ===== */
.container, .container1 {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.card {
    background-color: #4176e7;
    width: 280px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: 2px solid #333;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    font-size: 22px;
    margin: 15px;
    color: #222;
}

.card p {
    font-size: 16px;
    margin: 0 15px 15px 15px;
    color: #555;
}

.footer {
    background: rgb(34, 34, 34);
    color: #ddd;
    padding: 40px 20px;
    margin-top: 50px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-col h3, 
.footer-col h4 {
    margin-bottom: 15px;
    color: #fff;
}

.footer-col h4 {
    margin-bottom: 15px;
    color: #fff;
}

.footer-col p {
    margin-bottom: 10px;
    color: #ccc;
}



/* Responsividade do Footer */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 25px;
    }
}

/* ===== RESPONSIVIDADE ===== */
@media (max-width: 768px) {
    .hero {
        height: 220px;
        padding-top: 120px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero h2 {
        font-size: 18px;
    }

    .menu {
        gap: 15px;
    }

    .menu-link {
        font-size: 16px;
    }

    .card {
        width: 90%;
    }
}
 


